body{
    background: rgb(58,145,180);
    background: linear-gradient(90deg, rgba(58,145,180,1) 0%, rgba(29,114,253,1) 50%, rgba(69,252,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: white;
    font-size: 40px;
}

#statusText{
    color: white;
    font-size: 30px;
}

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
    color:lawngreen;
}

#gameContainer{
    font-family:fantasy, cursive;
    text-align: center;
   
    
}

#cellcontainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    
}

#restartBtn{
    background-color: black;
    color: white;
    padding: 8px;
  
}

#restartBtn:hover{
    transition: all .3s ease-in;
    transform: scale(1.0);
    background: mediumblue;
}